# ---- Visual Studio ----
.vs/
*.VC.db
*.VC.VC.opendb
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
packages/

# ---- ビルド出力 / 中間ファイル ----
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
ipch/

# ---- コンパイル済みバイナリ ----
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.idb
*.tlog
*.res
*.pch
*.ipdb
*.iobj

# ---- コンパイル済みシェーダー ----
*.cso

# ---- OS が生成するファイル ----
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ---- 3Dアセット ----
*.pmd
*.vmd
*.sph
*.spa
*.bmp